.nav-container {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin-bottom: 24px;
    position: fixed;
    z-index: 1;
}

.nav-container a {
  float: left;
  text-align: center;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.nav-container a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}